@font-face {
  font-family: 'tubicons';
  src:  url('fonts/tubicons.eot?ib1ljk');
  src:  url('fonts/tubicons.eot?ib1ljk#iefix') format('embedded-opentype'),
    url('fonts/tubicons.ttf?ib1ljk') format('truetype'),
    url('fonts/tubicons.woff?ib1ljk') format('woff'),
    url('fonts/tubicons.svg?ib1ljk#tubicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tubicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tb-bomb1-o:before {
  content: "\e947";
}
.tb-book1-o:before {
  content: "\e948";
}
.tb-calendar1-o:before {
  content: "\e949";
}
.tb-circle_checkbox_empty1-o:before {
  content: "\e94a";
}
.tb-circle_checkbox_false1-o:before {
  content: "\e94b";
}
.tb-circle_checkbox_true1-o:before {
  content: "\e94c";
}
.tb-clock1-o:before {
  content: "\e94d";
}
.tb-compass1-o:before {
  content: "\e94e";
}
.tb-config_file1-o:before {
  content: "\e94f";
}
.tb-controller1-o:before {
  content: "\e950";
}
.tb-database1-o:before {
  content: "\e951";
}
.tb-division_sign1-o:before {
  content: "\e952";
}
.tb-download1-o:before {
  content: "\e953";
}
.tb-edit_file1-o:before {
  content: "\e954";
}
.tb-empty_file1-o:before {
  content: "\e955";
}
.tb-file_html1-o:before {
  content: "\e956";
}
.tb-file_md1-o:before {
  content: "\e957";
}
.tb-file_pdf1-o:before {
  content: "\e958";
}
.tb-file_psd1-o:before {
  content: "\e959";
}
.tb-file_svg1-o:before {
  content: "\e95a";
}
.tb-file_txt1-o:before {
  content: "\e95b";
}
.tb-flag1-o:before {
  content: "\e95c";
}
.tb-font1-o:before {
  content: "\e95d";
}
.tb-gear1-o:before {
  content: "\e95e";
}
.tb-gmod1-o:before {
  content: "\e95f";
}
.tb-h_battery_charging1-o:before {
  content: "\e960";
}
.tb-h_battery_empty1-o:before {
  content: "\e961";
}
.tb-h_battery_full1-o:before {
  content: "\e962";
}
.tb-h_battery_half1-o:before {
  content: "\e963";
}
.tb-h_battery_unknown1-o:before {
  content: "\e964";
}
.tb-h_battery_warning1-o:before {
  content: "\e965";
}
.tb-home1-o:before {
  content: "\e966";
}
.tb-image1-o:before {
  content: "\e967";
}
.tb-link1-o:before {
  content: "\e968";
}
.tb-menu1-o:before {
  content: "\e969";
}
.tb-mine1-o:before {
  content: "\e96a";
}
.tb-minecraft1-o:before {
  content: "\e96b";
}
.tb-minus_sign1-o:before {
  content: "\e96c";
}
.tb-mushroom1-o:before {
  content: "\e96d";
}
.tb-music1-o:before {
  content: "\e96e";
}
.tb-new_file1-o:before {
  content: "\e96f";
}
.tb-panoramic_image1-o:before {
  content: "\e970";
}
.tb-pencil1-o:before {
  content: "\e971";
}
.tb-person_lift1-o:before {
  content: "\e972";
}
.tb-person_stand1-o:before {
  content: "\e973";
}
.tb-person_yoga1-o:before {
  content: "\e974";
}
.tb-pi_symbol1-o:before {
  content: "\e975";
}
.tb-plus_sign1-o:before {
  content: "\e976";
}
.tb-remove_file1-o:before {
  content: "\e977";
}
.tb-rubiks_cube1-o:before {
  content: "\e978";
}
.tb-tachometer1-o:before {
  content: "\e979";
}
.tb-timer1-o:before {
  content: "\e97a";
}
.tb-times_sign1-o:before {
  content: "\e97b";
}
.tb-trash1-o:before {
  content: "\e97c";
}
.tb-triforce1-o:before {
  content: "\e97d";
}
.tb-square_checkbox_empty1-o:before {
  content: "\e97e";
}
.tb-square_checkbox_false1-o:before {
  content: "\e97f";
}
.tb-square_checkbox_true1-o:before {
  content: "\e980";
}
.tb-unicode1-o:before {
  content: "\e981";
}
.tb-upload1-o:before {
  content: "\e982";
}
.tb-user1-o:before {
  content: "\e983";
}
.tb-users1-o:before {
  content: "\e984";
}
.tb-v_battery_charging1-o:before {
  content: "\e985";
}
.tb-v_battery_empty1-o:before {
  content: "\e986";
}
.tb-v_battery_full1-o:before {
  content: "\e987";
}
.tb-v_battery_half1-o:before {
  content: "\e988";
}
.tb-v_battery_unknown1-o:before {
  content: "\e989";
}
.tb-v_battery_warning1-o:before {
  content: "\e98a";
}
.tb-weight1-o:before {
  content: "\e98b";
}
.tb-wheat1-o:before {
  content: "\e98c";
}
.tb-written_file1-o:before {
  content: "\e98d";
}
