body {
    margin: 0;
    padding: 0;
    background-color: #333333;

    font-family: 'Arial Rounded MT Bold', monospace;
    color: #c4c4c4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .size-text-xs { display: inline; color: rgb(201, 38, 38);}
    .size-text-sm { display: none; }
    .size-text-md { display: none; }
    .size-text-lg { display: none; }
    .size-text-xl { display: none; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .size-text-xs { display: none; }
    .size-text-sm { display: inline; color: rgb(41, 145, 194);}
    .size-text-md { display: none; }
    .size-text-lg { display: none; }
    .size-text-xl { display: none; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .size-text-xs { display: none; }
    .size-text-sm { display: none; }
    .size-text-md { display: inline; color: rgb(168, 67, 199);}
    .size-text-lg { display: none; }
    .size-text-xl { display: none; }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .size-text-xs { display: none; }
    .size-text-sm { display: none; }
    .size-text-md { display: none; }
    .size-text-lg { display: inline; color: rgb(61, 187, 50);}
    .size-text-xl { display: none; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .size-text-xs { display: none; }
    .size-text-sm { display: none; }
    .size-text-md { display: none; }
    .size-text-lg { display: none; }
    .size-text-xl { display: inline; color: rgb(204, 135, 55);}
}