
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
    .button-group {
        display: block;
        margin-top: 5rem;
        margin-bottom: 3rem;
        margin-left: -1.5rem;
    }
    .menu-button {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .btn-icon {
        margin: 0;
        background-color: var(--fg-color);
        border-radius: 50%;
        width: 100px !important;
        height: 100px !important;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .btn-text { 
        display: inline;
        margin-left: 1rem;
        font-size: 1rem;
        color: var(--dark-fg-color)
    }

    .btn-icon .tb {
        padding-left: 0.12rem;
        font-size: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
    .button-group {
        display: block;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    .menu-button {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .btn-icon {
        margin: 0;
    }
    .btn-text { 
        display: inline;
        margin-left: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
    }
    .button-group {
        display: block;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    .menu-button {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .btn-icon {
        margin: 0;
    }
    .btn-text { 
        display: inline;
        margin-left: 2rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .button-group {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 15rem;
    }
    .menu-button { display: block; }
    .btn-icon {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .btn-text { 
        display: block;
        margin-top: 1rem;
        text-align: center;
        margin-left: 0;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }

.btn-icon {
    background-color: var(--fg-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-icon:hover {
    background: transparent;
    transform: scale(0.85);
    transition: .2s ease-in-out;
    -webkit-box-shadow: 0px 0px 0px 10px var(--fg-color);
    -moz-box-shadow: 0px 0px 0px 10px var(--fg-color);
    box-shadow: 0px 0px 0px 10px var(--fg-color);
}

.btn-icon:hover ~ .btn-text .hidden-sqr-bracket { color: var(--fg-color) !important; }
.btn-icon:hover ~ .btn-text { color: var(--fg-color) !important; }

.btn-icon .tb {
    margin-top: 0.58rem;
    padding-left: 0.12rem;
    z-index: 1;
}

.btn-icon:hover .tb {
    color: var(--fg-color);
}

.btn-text { 
    font-size: 1.5rem;
    color: var(--dark-fg-color);
}

.hidden-sqr-bracket {
    color: var(--bg-color);
}
