<!DOCTYPE HTML>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS (Bootstrap, ubuntu mono font[b, bi], index styles) -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:700,700i" rel="stylesheet">
		<link rel="stylesheet" href="../../src/css/home_styles.css">
	</head>
	<body>
		<!-- Home button -->
		<div class="d-flex">
			<div class="btn-icon m-3">
					<img class="iicon icon-home" src="../../src/icons/home/icon-home-normal.svg" alt="normal.svg" height="80rem" data-link="index.html">
			</div>
		</div>

		<!-- Split -->
		<div class="d-flex justify-content-between" style="margin-left:35rem; margin-right:35rem; margin-top:10rem;">
			<div class="m-4">
				<a class="white-link one-click" data-disabled="true" data-link="http://tubi-carrillo.github.io/views/minecraft/home.html"><h1>/COMMANDS</h1></a>
			</div>
			<div class="m-4">
				<a class="white-link one-click" href="" data-disabled="false" data-link="http://tubi-carrillo.github.io/views/minecraft/home.html"><h1>INFO</h1></a>
			</div>
		</div>

		<!-- Scripts (Bootstrap x3) -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="../../src/js/functions.js"></script>
		<script src="../../src/js/btn_icon.js"></script>
		<script>
			$(document).ready(function() {
				$('.white-link.one-click').each(function() {
					var element = $(this);
					var isDisabled = element.data('disabled');

					element.on({
						'mouseenter' : function() {
							if (isDisabled) {
								element.removeAttr('href');
							} else {
								element.attr('href', element.data('link'));
							}
						},

						'mousedown' : function() {
							if (!isDisabled) {
								console.log($('.white-link.one-click').data('disabled'));
								//negateLinks();
								$('.white-link.one-click').each(function() {
									var element = $(this);
									var isDisabled = element.data('disabled');

									window.location.replace(element.attr('href'));

									element.data('disabled', !isDisabled);
								})
								console.log($('.white-link.one-click').data('disabled'));
							}
						}
					});
				})
			});
		</script>
	</body>
</html>