body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    color: #5c5c5c;
    font-family: 'Ubuntu Mono', monospace;
}

.btn-link {
    color: #cccccc;
    text-decoration: none;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-link:disabled {
    color: #6c757d;
    text-decoration: underline;
}

.btn-link:focus {
    text-decoration: none;
}

.card {
    font-size: 1.5rem;
}

ul li {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.card-title{
    font-weight: 700;
    font-size: 2rem;
}

.cmd-o {
    color: #961515;
}

.cmd-r {
    color: #2d5972;
    font-style: italic;
}

.cmd {
    color:#3b7a46;
    font-weight: 700;
}