@font-face {
  font-family: 'tubicons';
  src:  url('fonts/tubicons.eot?avvi9q');
  src:  url('fonts/tubicons.eot?avvi9q#iefix') format('embedded-opentype'),
    url('fonts/tubicons.ttf?avvi9q') format('truetype'),
    url('fonts/tubicons.woff?avvi9q') format('woff'),
    url('fonts/tubicons.svg?avvi9q#tubicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tubicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tb-bomb-f:before {
  content: "\e900";
}
.tb-book-f:before {
  content: "\e901";
}
.tb-calendar-f:before {
  content: "\e902";
}
.tb-circle_checkbox_empty-f:before {
  content: "\e903";
}
.tb-circle_checkbox_false-f:before {
  content: "\e904";
}
.tb-circle_checkbox_true-f:before {
  content: "\e905";
}
.tb-clock-f:before {
  content: "\e906";
}
.tb-compass-f:before {
  content: "\e907";
}
.tb-config_file-f:before {
  content: "\e908";
}
.tb-controller-f:before {
  content: "\e909";
}
.tb-database-f:before {
  content: "\e90a";
}
.tb-division_sign-f:before {
  content: "\e90b";
}
.tb-download-f:before {
  content: "\e90c";
}
.tb-edit_file-f:before {
  content: "\e90d";
}
.tb-empty_file-f:before {
  content: "\e90e";
}
.tb-file_html-f:before {
  content: "\e90f";
}
.tb-file_md-f:before {
  content: "\e910";
}
.tb-file_pdf-f:before {
  content: "\e911";
}
.tb-file_psd-f:before {
  content: "\e912";
}
.tb-file_svg-f:before {
  content: "\e913";
}
.tb-file_txt-f:before {
  content: "\e914";
}
.tb-flag-f:before {
  content: "\e915";
}
.tb-font-f:before {
  content: "\e916";
}
.tb-gear-f:before {
  content: "\e917";
}
.tb-gmod-f:before {
  content: "\e918";
}
.tb-h_battery_charging-f:before {
  content: "\e919";
}
.tb-h_battery_empty-f:before {
  content: "\e91a";
}
.tb-h_battery_full-f:before {
  content: "\e91b";
}
.tb-h_battery_half-f:before {
  content: "\e91c";
}
.tb-h_battery_unknown-f:before {
  content: "\e91d";
}
.tb-h_battery_warning-f:before {
  content: "\e91e";
}
.tb-home-f:before {
  content: "\e91f";
}
.tb-image-f:before {
  content: "\e920";
}
.tb-link-f:before {
  content: "\e921";
}
.tb-menu-f:before {
  content: "\e922";
}
.tb-mine-f:before {
  content: "\e923";
}
.tb-minecraft-f:before {
  content: "\e924";
}
.tb-minus_sign-f:before {
  content: "\e925";
}
.tb-mushroom-f:before {
  content: "\e926";
}
.tb-music-f:before {
  content: "\e927";
}
.tb-new_file-f:before {
  content: "\e928";
}
.tb-panoramic_image-f:before {
  content: "\e929";
}
.tb-pencil-f:before {
  content: "\e92a";
}
.tb-person_lift-f:before {
  content: "\e92b";
}
.tb-person_stand-f:before {
  content: "\e92c";
}
.tb-person_yoga-f:before {
  content: "\e92d";
}
.tb-pi_symbol-f:before {
  content: "\e92e";
}
.tb-plus_sign-f:before {
  content: "\e92f";
}
.tb-remove_file-f:before {
  content: "\e930";
}
.tb-rubiks_cube-f:before {
  content: "\e931";
}
.tb-tachometer-f:before {
  content: "\e932";
}
.tb-timer-f:before {
  content: "\e933";
}
.tb-times_sign-f:before {
  content: "\e934";
}
.tb-trash-f:before {
  content: "\e935";
}
.tb-triforce-f:before {
  content: "\e936";
}
.tb-square_checkbox_empty-f:before {
  content: "\e937";
}
.tb-square_checkbox_false-f:before {
  content: "\e938";
}
.tb-square_checkbox_true-f:before {
  content: "\e939";
}
.tb-unicode-f:before {
  content: "\e93a";
}
.tb-upload-f:before {
  content: "\e93b";
}
.tb-user-f:before {
  content: "\e93c";
}
.tb-users-f:before {
  content: "\e93d";
}
.tb-v_battery_charging-f:before {
  content: "\e93e";
}
.tb-v_battery_empty-f:before {
  content: "\e93f";
}
.tb-v_battery_full-f:before {
  content: "\e940";
}
.tb-v_battery_half-f:before {
  content: "\e941";
}
.tb-v_battery_unknown-f:before {
  content: "\e942";
}
.tb-v_battery_warning-f:before {
  content: "\e943";
}
.tb-weight-f:before {
  content: "\e944";
}
.tb-wheat-f:before {
  content: "\e945";
}
.tb-written_file-f:before {
  content: "\e946";
}
